[submodule "app/src/sidecar/hidmaestro"]
	path = app/src/sidecar/hidmaestro
	url = https://github.com/hifihedgehog/HIDMaestro.git
[submodule "app/src/tools/wivrn-src"]
	path = app/src/tools/wivrn-src
	url = https://github.com/WiVRn/WiVRn.git
