[submodule "app/src/sidecar/input_backends/experimental/steamvr_driver/openvr"]
	path = app/src/sidecar/input_backends/experimental/steamvr_driver/openvr
	url = https://github.com/ValveSoftware/openvr.git
