[submodule "src/sidecar/hidmaestro"]
	path = src/sidecar/hidmaestro
	url = https://github.com/hifihedgehog/HIDMaestro.git
[submodule "src/tools/wivrn-src"]
	path = src/tools/wivrn-src
	url = https://github.com/WiVRn/WiVRn.git
