[Desktop Entry]
Categories=Game;Utility;
Comment=Browser-based game streaming host
Exec=bash -c 'cd "$(dirname "%k")" && ./bin/start.cmd'
Icon=/assets/NearcadeLogo.png
Name=Nearcade
Path=
StartupNotify=true
Terminal=false
Type=Application
